<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <p class="logo text">ivarovskiy</p>
      <p>Weather App</p>
    </a>

    <div class="search-view">
      <!-- <app-search-field></app-search-field> -->
      <div class="search-wrapper">
        <input
          type="search"
          name="search"
          placeholder="Search city..."
          autocomplete="off"
          class="search-field" />

        <span class="m-icon leading-icon">search</span>
        <button
          class="icon-btn leading-icon has-state"
          aria-label="close search">
          <span class="m-icon">arrow_back</span>
        </button>
      </div>
      <div class="search-result">
        <ul class="view-list">
          <li class="view-item">
            <span class="m-icon">location_on</span>
            <div>
              <p class="item-title">London</p>
              <p class="label-2 item-subtitle">State of London, GB</p>
            </div>

            <a href="#" class="item-link has-state" title="location"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="header-actions">
      <button class="icon-btn has-state">
        <span class="m-icon icon">search</span>
      </button>
      <a href="#/currentloc" class="btn-primary has-state">
        <span class="m-icon">my_location</span>
        <span class="span">Current Location</span>
      </a>
    </div>
  </div>
</header>
