<header class="header">
  <div class="container">
    <nav mat-tab-nav-bar class="nav btn-primary" [tabPanel]="tabPanel">
      <a
        mat-tab-link
        class="tabLink has-state"
        routerLink="/home"
        routerLinkActive="activeLink">
        <span class="m-icon"> home </span>
      </a>
      <a
        mat-tab-link
        class="tabLink has-state"
        routerLink="/favorites"
        routerLinkActive="activeLink">
        <span class="m-icon"> thumb_up </span>
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

    @if (router.url === '/home') {
      <div class="actions">
        <div class="search-view">
          <app-search-field></app-search-field>
        </div>

        <div class="header-actions">
          @if (isFavorite === true) {
            <button
              class="btn-primary has-state"
              (click)="removeLocationFromFavorite(cityKey)">
              <span class="m-icon">remove</span>
              <span class="span">Remove from favorite</span>
            </button>
          } @else {
            <button
              class="btn-primary has-state"
              (click)="addLocationToFavorite(city)">
              <span class="m-icon">add</span>
              <span class="span">Add to favorite</span>
            </button>
          }
        </div>
      </div>
    }
  </div>
</header>
