<div class="slider-container">
  <ul class="slider-list">
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/01n.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">25&deg;</p>
      </div>
    </li>
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/01n.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">25&deg;</p>
      </div>
    </li>
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/01n.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">25&deg;</p>
      </div>
    </li>
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/01n.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">25&deg;</p>
      </div>
    </li>
  </ul>
  <ul class="slider-list">
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/direction.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">12 km/h</p>
      </div>
    </li>
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/direction.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">12 km/h</p>
      </div>
    </li>

    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/direction.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">12 km/h</p>
      </div>
    </li>
    <li class="slider-item">
      <div class="card card-sm slider-card">
        <p class="body-3">03 PM</p>
        <img
          src="./assets/images/weather-icons/direction.png"
          alt=""
          width="48"
          height="48"
          loading="lazy"
          class="weather-icon"
          title="" />
        <p class="body-3">12 km/h</p>
      </div>
    </li>
  </ul>
</div>
