<li class="slider-item">
  <div class="card card-sm slider-card">
    <p class="body-3">
      {{ date | date: 'h:mm' }}
      @if (isDay) {
        AM
      } @else {
        PM
      }
    </p>
    <img
      src="https://www.awxcdn.com/adc-assets/images/weathericons/{{
        weatherImage
      }}.svg"
      alt=""
      width="48"
      height="48"
      loading="lazy"
      class="weather-icon"
      title="" />
    <p class="body-3">{{ temperature | temperatureConversion: 'F' }}&deg;</p>
    <p class="body-3">{{ weatherText }}</p>
  </div>
</li>
