<div class="hightlight-list">
  <div class="card card-sm hightlight-card one">
    <h3 class="title-3">Air Quality Index</h3>
    <div class="wrapper">
      <span class="m-icon">air</span>
      <ul class="card-list">
        <li class="card-item">
          <p class="title-1">23.3</p>
          <p class="label-1">PM <sub>2.5</sub></p>
        </li>
        <li class="card-item">
          <p class="title-1">23.3</p>
          <p class="label-1">PM <sub>2.5</sub></p>
        </li>
        <li class="card-item">
          <p class="title-1">23.3</p>
          <p class="label-1">PM <sub>2.5</sub></p>
        </li>
        <li class="card-item">
          <p class="title-1">23.3</p>
          <p class="label-1">PM <sub>2.5</sub></p>
        </li>
      </ul>
    </div>

    <span class="badge aqi-1 label-1" title="aqi message">Good</span>
  </div>

  <div class="card card-sm hightlight-card two">
    <h3 class="title-3">Sunrise & Sunset</h3>
    <div class="card-list">
      <div class="card-item">
        <span class="m-icon">sunny</span>
        <div>
          <p class="label-1">Sunrise</p>
          <p class="title-1">6:30 AM</p>
        </div>
      </div>
      <div class="card-item">
        <span class="m-icon">dark_mode</span>
        <div>
          <p class="label-1">Sunset</p>
          <p class="title-1">5:54 PM</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Humidity</h3>
    <div class="wrapper">
      <span class="m-icon">water_drop</span>

      <p class="title-1">35<sub>%</sub></p>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Pressure</h3>
    <div class="wrapper">
      <span class="m-icon">waves</span>

      <p class="title-1">1052<sub>hPa</sub></p>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Visibility</h3>
    <div class="wrapper">
      <span class="m-icon">visibility</span>

      <p class="title-1">10<sub>km</sub></p>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Feels Like</h3>
    <div class="wrapper">
      <span class="m-icon">thermostat</span>

      <p class="title-1">25&deg;<sup>c</sup></p>
    </div>
  </div>
</div>
