<div class="hightlight-list">
  <div class="card card-sm hightlight-card one">
    <h3 class="title-3">Air Quality Index</h3>
    <div class="wrapper">
      <span class="m-icon">air</span>
      <ul class="card-list">
        <li class="card-item">
          <p class="title-1">{{ airQuality.pm2_5 }}</p>
          <p class="label-1">PM<sub>2.5</sub></p>
        </li>
        <li class="card-item">
          <p class="title-1">{{ airQuality.so2 }}</p>
          <p class="label-1">SO<sub>2</sub></p>
        </li>
        <li class="card-item">
          <p class="title-1">{{ airQuality.no2 }}</p>
          <p class="label-1">NO<sub>2</sub></p>
        </li>
        <li class="card-item">
          <p class="title-1">{{ airQuality.o3 }}</p>
          <p class="label-1">O<sub>3</sub></p>
        </li>
      </ul>
    </div>

    <span
      class="badge aqi-{{ aqi }} label-{{ aqi }}"
      [matTooltip]="aqiText[aqi].message"
      >{{ aqiText[aqi].level }}</span
    >
  </div>

  <div class="card card-sm hightlight-card two">
    <h3 class="title-3">Sunrise & Sunset</h3>
    <div class="card-list">
      <div class="card-item">
        <span class="m-icon">sunny</span>
        <div>
          <p class="label-1">Sunrise</p>
          <p class="title-1">{{ sunrise | date: 'shortTime' }}</p>
        </div>
      </div>
      <div class="card-item">
        <span class="m-icon">dark_mode</span>
        <div>
          <p class="label-1">Sunset</p>
          <p class="title-1">{{ sunset | date: 'shortTime' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Humidity</h3>
    <div class="wrapper">
      <span class="m-icon">water_drop</span>

      <p class="title-1">{{ humidity }}<sub>%</sub></p>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Pressure</h3>
    <div class="wrapper">
      <span class="m-icon">waves</span>

      <p class="title-1">{{ pressure }}<sub>mb</sub></p>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Visibility</h3>
    <div class="wrapper">
      <span class="m-icon">visibility</span>

      <p class="title-1">{{ visibility }}<sub>km</sub></p>
    </div>
  </div>

  <div class="card card-sm hightlight-card">
    <h3 class="title-3">Feels Like</h3>
    <div class="wrapper">
      <span class="m-icon">thermostat</span>

      <p class="title-1">{{ feelsLike }}&deg;<sup>c</sup></p>
    </div>
  </div>
</div>
